#footer {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
  width: 100%;
  border-top: 1px solid #eee;
}
#footer .row1 {
  width: 100%;
  background: #fff;
}
#footer .row1 .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#footer .row1 .container .row1-row1 {
  width: 100%;
  display: flex;
  padding: 30px 0;
}
#footer .row1 .container .row1-row1 .left {
  width: 45%;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(1) {
  padding: 0 0 30px 0;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(1) h2 {
  font-size: 20px;
  color: #333;
  font-weight: 600;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(2) {
  padding: 0 0 30px 0;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(2) h3 a {
  font-size: 28px;
  color: #333;
  font-weight: 700;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(2) h3 span {
  font-size: 16px;
  color: #333;
  margin: 0 0 0 10px;
  vertical-align: bottom;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(3) p {
  padding: 0 0 15px 0;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(3) p a {
  display: inline-flex;
  width: 140px;
  height: 40px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #333;
  border-radius: 2px;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(3) p span {
  margin: 0 0 0 15px;
  display: inline-flex;
  justify-content: left;
  font-size: 13px;
  color: #999;
  line-height: 130%;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(4) p {
  font-size: 12px;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(4) p em {
  color: #999;
}
#footer .row1 .container .row1-row1 .left ul li:nth-child(4) p a {
  color: #999;
}
#footer .row1 .container .row1-row1 .right {
  width: 55%;
  display: flex;
  justify-content: flex-end;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(1) {
  font-size: 14px;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(1) a {
  margin: 0 15px 0 0;
  color: #444;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(2) {
  padding: 30px 0;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(2) p {
  color: #999;
  font-size: 12px;
  line-height: 150%;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(2) p i {
  color: #ccc;
  margin: 0 10px;
  font-size: 11px;
  vertical-align: top;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(2) p a {
  color: #5f0080;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(3) {
  display: flex;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(3) a {
  margin: 0 12px 0 0;
}
#footer .row1 .container .row1-row1 .right ul li:nth-child(3) a img {
  width: 30px;
  height: 30px;
}
#footer .row1 .container .row1-row2 {
  border-top: 1px solid #eee;
  width: 100%;
  padding: 30px 0;
}
#footer .row1 .container .row1-row2 ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .row1 .container .row1-row2 ul li a {
  display: flex;
}
#footer .row1 .container .row1-row2 ul li a img {
  width: auto;
  height: 34px;
}
#footer .row1 .container .row1-row2 ul li a span {
  font-size: 10px;
  color: #999;
  margin: 0 0 0 10px;
  line-height: 140%;
}
#footer .row1 .container .row1-row2 ul li:nth-child(3) a img {
  width: auto;
  height: 32px;
}
#footer .row2 {
  width: 100%;
  background: #f7f7f7;
  padding: 30px 0 40px 0;
}
#footer .row2 .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
}
#footer .row2 .container p {
  color: #999;
  font-size: 12px;
  line-height: 150%;
}
#footer .row2 .container p:last-child {
  padding: 10px 0 0 0;
}