// 상속 => @extend %titleH2; // 상속  
%titleH2 { 
    font-size: 24px; 
    text-align: center;    
}
%titleH3 { 
    font-size: 20px; 
    text-align: center;    
}

// 믹스인 => @include
// @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
@mixin inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor) {
    width: 100%;
    height: 54px;
    border: 1px solid $brColor;
    border-radius: 3px;
    background: $bgColor;
    color: $color;
    font-size: $fontSize;
    padding: $padding;
    font-weight: $fontWeight;
    cursor: $cursor;
}

// 전역변수
$paddingTopBttom: 90px 0;


#sub6 {
    width:100%;
    #section1 {
        width:100%;
        padding: $paddingTopBttom;;
        .container {
            width:100%;
            max-width: 340px;
            margin: 0 auto;
            .title {
                > h2 {
                    @extend %titleH2; // 상속                   
                    font-weight: 600;
                    padding: 0 0 20px 0;
                }
                > h3 {
                    @extend %titleH3; // 상속                   
                    font-weight: 500;
                    padding: 0 0 25px 0;
                }
                &.id-pw-search-title {    
                    padding: 0 0 25px 0;                
                    h2 {                        
                        text-align: left;
                        padding: 0 0 10px 0;
                    }
                    h3 {                 
                        text-align: left;       
                        font-size: 13px;
                        color:#999;
                    }
                }

            }
            .content {
                width:100%;
                &.sub6-content {
                    width:100%;
                    form {
                        width:100%;
                        ul {
                            width:100%;
                            li {
                                width:100%;
                                &:nth-child(3){
                                    text-align: right;
                                    padding: 0 0 20px 0;
                                }
                                .gap {
                                    padding: 10px 0 0 0;
                                    &.gap2 {
                                        padding: 0 0 0 0;
                                    }
                                    input[type='text'],     // 아이디, 비밀번호                                        
                                    input[type='password']{     // 아이디, 비밀번호                                        
                                        $brColor: #ddd;
                                        $bgColor: #fff;
                                        $color: #333;
                                        $fontSize: 14px;
                                        $padding: 0 15px;
                                        $fontWeight: 400;
                                        $cursor: text;
                                        @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        outline: 1px solid transparent;
                                        outline-offset: -1px;
                                        transition: all 0.3s;
                                        &:focus {
                                            outline-color: #777;
                                        }
                                    }   
                                    span {                  // 아이디찾기, 비밀번호찾기
                                        a {
                                            font-size: 13px;
                                            color: #444;
                                        }
                                        i {
                                            font-size: 10px;
                                            color: #ccc;
                                            margin: 0 5px;
                                        }
                                    }
                                    input[type='submit']{   // 로그인 버튼
                                        $brColor: #5f0080;
                                        $bgColor: #5f0080;
                                        $color: #fff;
                                        $fontSize: 16px;
                                        $padding: 0;
                                        $fontWeight: 600;
                                        $cursor: pointer;
                                        @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                    }
                                    input[type='button']{   // 회원가입 버튼
                                        $brColor: #5f0080;
                                        $bgColor: #fff;
                                        $color: #5f0080;
                                        $fontSize: 16px;
                                        $padding: 0;
                                        $fontWeight: 600;
                                        $cursor: pointer;
                                        @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        &#signinBtn{
                                            $brColor: #5f0080;
                                            $bgColor: #5f0080;
                                            $color: #fff;
                                            $fontSize: 16px;
                                            $padding: 0;
                                            $fontWeight: 600;
                                            $cursor: pointer;
                                            @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        }
                                        &#okBtn{
                                            $brColor: #5f0080;
                                            $bgColor: #5f0080;
                                            $color: #fff;
                                            $fontSize: 16px;
                                            $padding: 0;
                                            $fontWeight: 600;
                                            $cursor: pointer;
                                            @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        }

                                    }
                                    .text-box{
                                        display: flex;
                                        padding: 0 0 50px 0;
                                        .left {
                                            margin: 0 12px 0 0;
                                            img {
                                                width: 40px;
                                                height: 40px;
                                            }
                                        }                                        
                                        .right {                                           
                                            p {
                                                &:first-child{
                                                    padding: 2px 0 0 0;
                                                    font-size: 14px;
                                                    color: #333;
                                                    font-weight: 500;
                                                }
                                                &:last-child{
                                                    padding: 6px 0 0 0;
                                                    font-size: 12px;
                                                    color: #999;
                                                }
                                            }
                                        }                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}