// 상속 => @extend %titleH2; // 상속  
%titleH2 { 
    font-size: 20px; 
    text-align: center;    
}

// 믹스인 => @include
// @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
@mixin inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor) {
    width: 100%;
    height: 54px;
    border: 1px solid $brColor;
    border-radius: 3px;
    background: $bgColor;
    color: $color;
    font-size: $fontSize;
    padding: $padding;
    font-weight: $fontWeight;
    outline: 1px solid transparent;
    outline-offset: -1px;
    cursor: $cursor;
    transition: outline 0.3s;
    &:focus {
        outline-color: #777;
    }
}

// 전역변수
$paddingTopBttom: 90px 0;


#pw-reset-form {
    width:100%;
    #section1 {
        width:100%;
        padding: $paddingTopBttom;;
        .container {
            width:100%;
            max-width: 340px;
            margin: 0 auto;
            .title {
                h2 {
                    @extend %titleH2; // 상속                   
                    font-weight: 600;
                    padding: 0 0 25px 0;
                }
                &.id-pw-search-title {    
                    padding: 0 0 25px 0;                
                    h2 {                        
                        text-align: left;
                        padding: 0 0 10px 0;
                    }
                    h3 {                 
                        text-align: left;       
                        font-size: 13px;
                        color:#999;
                    }
                }

            }
            .content {
                width:100%;
                &.sub6-content {
                    width:100%;
                    form {
                        width:100%;
                        ul {
                            width:100%;
                            li {
                                width:100%;
                                &:nth-child(2){
                                    padding: 20px 0 0 0;
                                }
                                .gap { 
                                    position: relative;     
                                    label {
                                        display: block;
                                        margin: 0 0 10px 0;
                                        font-size: 14px;
                                        font-weight: 600;
                                    }                          
                                    input[type='password']{     // 아이디, 비밀번호                                        
                                        $brColor: #ddd;
                                        $bgColor: #fff;
                                        $color: #333;
                                        $fontSize: 14px;
                                        $padding: 0 15px;
                                        $fontWeight: 400;
                                        $cursor: text;
                                        @include inputBox ($brColor, $bgColor, $color, $fontSize, $padding, $fontWeight, $cursor);
                                        position: relative;
                                        z-index: 1;
                                    }
                                    input[type='submit'] {   // 확인
                                        width: 100%;
                                        height: 54px;
                                        border: 1px solid #ddd;
                                        border-radius: 3px;
                                        background: #dddd;
                                        color: #fff;
                                        font-size: 16px;
                                        font-weight: 600;                                       
                                        cursor: default;                           
                                        margin: 15px 0 0 0;
                                        &.on {
                                            border: 1px solid #5f0080;
                                            background: #5f0080;
                                            cursor: pointer;
                                        }
                                    }

                                    .delete-btn {
                                        z-index: 2;
                                        position: absolute;
                                        width: 16px;
                                        height: 16px;
                                        right: 10px;
                                        bottom: 19px;
                                        border: 0;
                                        background: transparent;
                                        cursor: pointer;
                                    }

                                }
                                .guid-text-box {
                                    padding: 10px 0;
                                    p {
                                        position: relative;
                                        color: #666;
                                        font-size: 12px;
                                        padding: 0 0 0 13px;
                                        line-height: 12px;
                                        height: 12px; 
                                        margin: 7px 0;                                       
                                        &::before {
                                            content:'●';
                                            position: absolute;
                                            left: 2px;
                                            top: 0;
                                            font-size: 3.5px;
                                            color:#666;
                                            
                                        }
                                        &.red {
                                            padding: 0 0 0 20px;
                                            color: #f03f40;
                                            &::before {
                                                content:'';
                                                top: 1.5px;
                                                width: 12px;
                                                height: 12px;                                                
                                                background: url(../../../../public/images/sub/sub6/icon_pw_reset_X_close.svg) no-repeat 50% 0;
                                            }                                        
                                        }
                                        &.blue {
                                            padding: 0 0 0 20px;
                                            color: #257cd8;
                                            &::before {                                                
                                                content:'';
                                                top: 1.5px;
                                                width: 12px;
                                                height: 12px;
                                                background: url(../../../../public/images/sub/sub6/icon_pw_reset_check.svg) no-repeat 50% 0;
                                            } 
                                        }

                                    }                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}