#sub5 {
    &.sub7-signup{
        background: #fcfcfc;
        #signUp {
            .container {
                width: 100%;
                max-width: 640px;
                margin: 0 auto;
                .title {
                    width: 100%;               
                    text-align: center;
                    border-bottom: 2px solid #333;
                    .title-text {
                        &.title1 {
                            font-size: 28px;
                            font-weight: 600;
                            color: #5f0080;
                            padding: 60px 0 30px 0;                            
                        }
                        &.title2 {
                            font-size: 20px;
                            font-weight: 500;
                            color: #333;
                            padding: 0 0 50px 0;  
                        }
                    }                          
                }
            }
        }
    }
}