#sub7 {
    width: 100%;
    user-select: none;
    #section1 {
        width: 100%;
        padding: 50px 0 100px 0;
        .container {
            width: 100%;
            max-width: 1050px;
            margin: 0 auto;
            .content {
                width: 100%;
                display: flex;
                .left {
                    width: 230px;
                    padding: 0 30px 0 0;
                    .left-header {
                        width: 100%;
                        height: 75px;
                        padding: 5px 0 0 1px;  

                        h2 {
                            font-size: 28px;   
                            font-weight: 500;
                            color:#333;                            
                        }
                    }
                    .left-list {
                        width: 100%;
                        ul {
                            width: 100%;
                            li {
                                width: 100%;
                                border: 1px solid #ddd;
                                border-bottom: 0;
                                &:last-child {
                                    border-bottom: 1px solid #ddd;
                                }
                                a {
                                    display: flex;
                                    width: 100%;
                                    height: 50px;
                                    padding: 0 20px;
                                    font-size: 14px;
                                    color:#666;
                                    align-items: center;
                                    transition: all 0.3s;
                                    background: #fff url(../../../../public/images/sub/sub7/icon_arrow_right_off.svg) no-repeat calc(100% - 20px) 50%;
                                    background-size: 6px auto;                                    
                                    &:hover {
                                        color:#5f0080;
                                        background-color: #fafafa;
                                        background-image: url(../../../../public/images/sub/sub7/icon_arrow_right_on.svg);
                                    }
                                    &.on {
                                        color:#5f0080;
                                        background-color: #fafafa;
                                        background-image: url(../../../../public/images/sub/sub7/icon_arrow_right_on.svg);
                                    }                                    
                                }
                            }
                        }
                        .help-me {
                            width: 100%;
                            padding: 40px 0 0 0;
                            p {
                                width: 100%;
                                a {
                                    display: block;
                                    width: 100%;
                                    padding: 15px 20px;
                                    background: #fafafa url(../../../../public/images/sub/sub7/icon_arrow_right_off.svg) no-repeat calc(100% - 20px) 50%;
                                    strong {
                                        font-size: 14px;
                                        font-weight: 500;
                                        color:#666;
                                        display: block;
                                    }
                                    span {
                                        display: block;
                                        font-size: 12px;
                                        color:#666;
                                        padding: 5px  0 0 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .right {
                    width: 820px;
                    
                    .right-header {
                        width:100%;
                        display: flex;
                        height: 75px;
                        h2 {
                            font-size: 24px;
                            font-weight: 500;
                            margin: 0 15px 0 0;
                            height: 48px;
                            line-height: 48px;
                        }
                        h3 {
                            font-size: 14px;
                            color:#999;
                            height: 48px;
                            line-height: 48px;
                        }
                    }
                    .right-list {
                        width:100%;
                        // 공지사항 칸 너비
                        ul.column-box {
                            width:100%;
                            display: flex;
                            font-size: 14px;
                            li {
                                &.col1{width:50px;  text-align: center;}
                                &.col2{width:570px; text-align: center;}
                                &.col3{width:100px; text-align: center;}
                                &.col4{width:100px; text-align: center;}    
                            }
                        }

                        div.list-header {
                            width: 100%;
                            height: 63px;
                            display: flex;
                            align-items: center;
                            border-top:2px solid #333;
                            border-bottom:1px solid #333;
                            ul.column-box {                                                                 
                                li {
                                    text-align: center; 
                                    font-weight: 500;                                      
                                }
                            }
                        }
                        ul.list-data {
                            width: 100%;                            
                            > li {
                                height: 56px;
                                display: flex;
                                align-items: center;
                                border-bottom:1px solid #ddd;
                                cursor: pointer;
                                ul.column-box {
                                    li {
                                        color:#666;
                                        &.col1{text-align: center;}
                                        &.col2{padding: 0 0 0 20px;text-align: left;}
                                        &.col3{text-align: center;}
                                        &.col4{text-align: center;color:#999;}    
                                    }
                                }
                            }
                        }
                    }
                    .button-box {
                        width:100%;
                        text-align: right;
                        padding: 50px 0 0 0;
                        button {
                            width:120px;
                            height: 44px;
                            color:#fff;
                            background: #5f0080;
                            border-radius: 3px;
                            border: 1px solid #5f0080;
                            font-size: 14px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                    
                    
                    // 글쓰기폼
                    &.sub7-insert-form {
                        width:100%;
                        .right-list {
                            width:100%;
                            border-top: 2px solid #333;                            
                            form {
                                width:100%;
                                .insert-form {
                                    width:100%;
                                    ul {
                                        width:100%;
                                        padding: 8px 20px;
                                        li {
                                            width:100%;
                                            padding: 8px 0;
                                            .gap {
                                                width: 100%;
                                                // height: 44px;
                                                padding: 0 0 0 140px;
                                                position: relative;

                                                // 레이블
                                                .left-label {
                                                    position: absolute;
                                                    left:0;
                                                    top:0;
                                                    height: 44px;
                                                    display: flex;
                                                    align-items: center;        
                                                    font-size: 14px;
                                                    color: #333;  
                                                    font-weight: 500;                                                                                     
                                                }

                                                // 게시 & 공지
                                                select {
                                                    position: relative;
                                                    width: 250px;
                                                    height: 44px;
                                                    border: 1px solid #ddd;
                                                    background: transparent;
                                                    border-radius: 3px;
                                                    font-size: 16px;
                                                    color:#666;
                                                    padding: 0 15px;
                                                    outline-offset: -1px;
                                                    outline: 1px solid transparent;
                                                    transition: all 0.3s;
                                                    appearance: none;
                                                    &:focus{
                                                        outline-color: #777;
                                                    }
                                                    
                                                }
                                                .icon-arrow-down {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 355px;
                                                    width: 30px;
                                                    height: 20px;
                                                    background: url(../../../../public/images/sub/sub7/icon_arrow_right_on.svg) no-repeat 100% 50%;
                                                    transform: rotate(90deg);
                                                    // transition: transform 0.3s;
                                                    &.on{
                                                        transform: rotate(270deg);
                                                        height: 63px;
                                                    }
                                                }

                                                // 작성자 & 아이디
                                                div {
                                                    width: 250px;
                                                    height: 44px;
                                                    border: 1px solid #ddd;
                                                    background: #fff;
                                                    border-radius: 3px;
                                                    font-size: 16px;
                                                    color:#666;
                                                    display: flex;
                                                    align-items: center;
                                                    padding: 0 15px;
                                                }

                                                // 제목
                                                input[type='text']{
                                                    width: 100%;
                                                    height: 44px;
                                                    border: 1px solid #ddd;
                                                    background: #fff;
                                                    border-radius: 3px;
                                                    font-size: 16px;
                                                    color:#666;
                                                    padding: 0 15px;
                                                    outline-offset: -1px;
                                                    outline: 1px solid transparent;
                                                    transition: all 0.3s;
                                                    &:focus{
                                                        outline-color: #777;
                                                    }
                                                }

                                                // 내용
                                                textarea {
                                                    width: 100%;
                                                    height: 500px;
                                                    border: 1px solid #ddd;
                                                    background: #fff;
                                                    border-radius: 3px;
                                                    font-size: 16px;
                                                    color:#666;
                                                    padding: 15px;
                                                    outline-offset: -1px;
                                                    outline: 1px solid transparent;
                                                    transition: all 0.3s;
                                                    // overflow-y: auto;
                                                    resize: none;
                                                    &:focus{
                                                        outline-color: #777;
                                                    }
                                                }

                                            }
                                        }
                                    }
                                }

                                .button-box {
                                    width:100%;
                                    text-align: center;
                                    padding: 30px 0 0 0;
                                    border-top: 1px solid #ccc;
                                    button {
                                        width:160px;
                                        height: 56px;
                                        color:#fff;
                                        background: #5f0080;
                                        border-radius: 3px;
                                        border: 1px solid #5f0080;
                                        font-size: 14px;
                                        font-weight: 500;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}