#postCode {
    z-Index: 6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 530px;
        height: 600px;
        background: #fff;
        border: 1px solid #999;
        overflow: hidden;
        .window-title {
            width: 100%;
            height: 31px;
            background: rgb(132, 173, 234);
            border-bottom: 1px solid #999;
            display: flex;
            justify-content: space-between;
            align-items: center;            
            h1 {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center; 
                padding: 0 0 0 5px; 
                img {
                    width: 15px;
                    height: 16px;
                }
                em {
                    transform: translateY(-1px);
                    margin: 5px;
                    font-size: 14px;
                    color: #333;
                }
            }
            button {
                width: 46px;
                height: 100%;
                color: #333;
                background: rgba(232,17,35, 0);
                border: 0;
                &:hover {
                    background: rgba(232,17,35, 1);
                    color:#fff;
                }
                i {
                    font-size: 17px;
                }
            }
        }
        .content {
            position: relative;
            width: 100%;
            height: 569px;
            overflow-y: auto;
            padding: 40px 30px 30px 30px;
            // 카카오 주소검색 API 부모박스
            .address-box {
                z-index: 1;
                position: relative;               
                width: 100%;
                .title {
                    width: 100%;
                    text-align: center;
                    padding: 0 0 30px 0;
                    h1 {
                        width: 100%;
                        font-size: 24px;
                        font-weight: 600;
                        strong {
                            color: #5f0080;
                        }
                        span  {
                            color: #333;
                        }
                    }
                    h2 {
                        padding: 13px 0 0 0;
                        width: 100%;
                        font-size: 16px;
                        color: #666;
                    }
                }
                .list-box {
                    width: 100%;
                    li {
                        width: 100%;
                        padding: 5px 0;
                       .gap {
                            width: 100%;
                            input[type='text'] {
                                width: 100%;
                                height: 44px;
                                padding:  0 15px;
                                font-size: 14px;
                                color: #333;
                                border: 1px solid #ddd;
                                border-radius: 3px;
                                outline-offset: -1px;
                                outline: 1px solid rgba(0,0,0, 0);
                                transition: all 0.3s;
                                &:focus {
                                    outline-color: rgba(0,0,0, 0.5);
                                }
                            }
                            &.row1 {
                                padding: 0 130px 0 0;
                                position: relative;
                                button {
                                   position: absolute;
                                   right: 0;
                                   top: 0;
                                   width: 120px;
                                   height: 44px;
                                   border: 1px solid #5f0080; 
                                   
                                   border-radius: 3px;
                                   background: #fff;
                                   cursor: pointer;
                                   img {
                                     width: 24px;
                                     height: 24px;
                                     transform: translateY(1px);
                                   }
                                   span {
                                        font-size: 14px;
                                        color: #5f0080;
                                        font-weight: 600;
                                   }
                                }
                            }
                            &.row2 {}
                            &.row3 {
                                p {
                                    font-size: 12px;
                                    color:#888;
                                    line-height: 120%;
                                }
                            }
                            &.row4 {
                                padding: 10px 0 25px 0;
                                button {                                    
                                    width: 100%;
                                    height: 44px;
                                    border: 1px solid #5f0080; 
                                    color: #fff;
                                    background: #5f0080;
                                    border-radius: 3px;  
                                    font-weight: 600;  
                                    cursor: pointer;
                                    font-size: 16px;                    
                                }
                            }
                            &.row5 {                               
                                img {
                                    width: 14px;
                                    height: 14px;
                                }
                                span {
                                    font-size: 14px;
                                    color:#f03f40;
                                    margin: 0 0 0 8px;
                                }
                            }
                            &.row6 {
                                display: flex;
                                justify-content: space-between;
                                padding: 0 0 0 24px;
                                span {
                                    font-size: 14px;
                                    color:#666;
                                }
                                button {
                                    background: none;
                                    border: 0;
                                    cursor: pointer;
                                    em {
                                        font-size: 12px;
                                        color: #999;
                                    }
                                    img {
                                        width: 11px;
                                        height: 10px;
                                    }
                                }
                            }
                       } 
                    }
                }
            }
        }
    }
}