.section {
    padding: 80px  0 0 0;
    width:100%;
    .container {
        width:100%;
        max-width: 1068px;
        margin: 0 auto;
        .title{
            width:100%;
            text-align: center;
            padding: 0 0 30px 0;
            h2{
                font-size: 28px;
                color:#333;
                font-weight: 600;
            }
            p{
                font-size: 16px;
                color:#999;
                padding: 15px 0 0 0;
            }
        }
        .content{
            width:100%;
            .slide-container {
                width:1050px;
                margin: 0 auto;
                position: relative;
                .slide-view {
                    z-index: 1;
                    position: relative;
                    width:100%; 
                    overflow: hidden; 
                    .slide-wrap {
                        width:267px * 20;
                        display: flex;
                        //position: relative; // 슬라이드 이동 left 사용                        
                        .slide {
                            width:267px; //1068/4
                            .col-gap {  // 최근본상품 클릭 타겟 Target
                                width:auto;
                                margin: 0 18px 0 0;
                                cursor: pointer;
                                .img-box {
                                    width:100%;
                                    overflow: hidden;
                                    img {
                                        width:100%;                                        
                                        transition: all 0.3s ease-in-out;
                                        cursor: pointer;
                                        &:hover {
                                            transform: scale(1.07);
                                        }
                                    }
                                }
                                .txt-box {
                                    width:100%;                                      
                                    line-height: 180%;
                                    p { // 담기
                                        padding: 10px 0;
                                        width:100%;  
                                        a {
                                            display: flex;  
                                            align-items: center;
                                            justify-content: center;
                                            border: 1px solid #ccc;
                                            width: 100%;
                                            height: 36px;
                                            font-size: 14px;                                            
                                            img {
                                                margin: 0 3px 0 0;
                                                transform: translateY(1px);
                                            }
                                        }

                                    }
                                    h3 {
                                        font-size: 16px;
                                        color:#333;
                                        font-weight: 500;
                                        
                                    }
                                    h4 {
                                        font-size: 14px;
                                        color:#999;
                                        text-decoration: line-through;
                                    }
                                    h5 {
                                        font-size: 16px;
                                        font-weight: 600;
                                        em {
                                            color:#fa622f;
                                        }
                                        strong {
                                            color:#333;
                                            margin: 0 0 0 10px;
                                        }
                                    }
                                    h6 {
                                        font-size: 13px;
                                        img {
                                            width: 15px;
                                            height: 15px;
                                            margin:  0 4px 0 0;
                                            transform: translateY(-1px);
                                        }
                                    }

                                }
                            }

                        }
                    }
                }

                .sec2-left-arrow {
                    z-index: 2;
                    position: absolute;
                    left: -30px;
                    top: 130px;                    
                    width: 60px;
                    height: 60px;
                    opacity: 0;
                    transition: all 0.6s ease-in-out;
                    &.on{
                        opacity: 1;
                    }
                }
                .sec2-right-arrow {
                    z-index: 2;
                    position: absolute;
                    right: -30px;
                    top: 130px;                    
                    width: 60px;
                    height: 60px;
                    transform: rotate(180deg);  
                    opacity: 0;
                    transition: all 0.6s ease-in-out;
                    &.on{
                        opacity: 1;
                    }                  
                }
            }
        }
    }
}