#section5 {
    .container {
        .content {
            .slide-container {
                .slide-view {
                    .slide-wrap {
                        width:356px * 3;
                        .slide {
                            width:356px;
                            &.slide1 {
                                width:356px * 1;
                            }
                            &.slide2 {
                                width:356px * 2;
                            }
                            .col-gap {
                                .txt-box {
                                    p{
                                        padding: 0 0 5px 0;
                                        &.description{
                                            color:#999;
                                            font-size: 14px;
                                            font-weight: 400;
                                        }
                                    }
 
                                }   
                            }
                        }
                        .slide1 {
                            .col-gap {
                                .txt-box {
                                    h2 {
                                        font-size: 28px;
                                        color: #333;
                                        font-weight: 600;
                                        line-height: 120%;
                                    }
                                    h3 {                                        
                                        font-size: 16px;
                                        color: #999;
                                        font-weight: 400;
                                        padding: 20px 0 35px 0;
                                    }
                                    h4 {
                                        text-decoration: none;
                                        span {                                           
                                            &.icon-timer{
                                                img {
                                                    width:28px;height:28px; 
                                                    transform: translateY(3px);                                                   
                                                }
                                            }
                                            &.count-timer{
                                                vertical-align: middle;
                                                margin: 0 0 0 6px;
                                                strong {
                                                    font-size: 32px;
                                                    color: #333;
                                                    font-weight: 800;
                                                }   
                                                i {
                                                    font-size: 25px;
                                                    color: #999;
                                                    font-weight: 400;
                                                    margin:0 2px;
                                                }   
                                            }
    
                                        }
                                    }
                                    h5 {
                                        padding: 40px 0 0 0;
                                        font-size: 14px;
                                        color: #bbb;
                                        font-weight: 300;
                                    }
                                }   
                            }
                        }
                    }
                }   
            }
        }
    }
}