@charset "UTF-8";
.sub {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sub #section1 {
  width: 100%;
}
.sub #section1 .container {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}
.sub #section1 .container .title {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
.sub #section1 .container .title .title-image {
  width: 100%;
}
.sub #section1 .container .title .title-image a {
  display: block;
  width: 100%;
}
.sub #section1 .container .title .title-image a img {
  width: 100%;
}
.sub #section1 .container .title .title-text {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-align: center;
  padding: 60px 0;
}
.sub #section1 .container .content {
  width: 100%;
  margin-left: 9px;
  display: flex;
  background: #fff;
}
.sub #section1 .container .content .left {
  position: sticky;
  top: 86px;
  left: 0;
  width: 267px;
  height: 100vh; /* 높이필수 */
}
.sub #section1 .container .content .left .gap {
  width: auto;
  height: 100%;
  margin: 0 47px 0 0;
}
.sub #section1 .container .content .left .gap .header {
  width: 100%;
  height: 41px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sub #section1 .container .content .left .gap .header h3 {
  font-size: 14px;
  color: #000;
}
.sub #section1 .container .content .left .gap .header span img {
  width: 12px;
  height: 12px;
  vertical-align: top;
  transform: translateY(1px);
}
.sub #section1 .container .content .left .gap .header span em {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 5px;
  vertical-align: top;
}
.sub #section1 .container .content .left .gap .sub-menu {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 0 0 200px 0;
}
.sub #section1 .container .content .left .gap .sub-menu::-webkit-scrollbar {
  width: 0;
}
.sub #section1 .container .content .left .gap .sub-menu::-webkit-scrollbar-track {
  background: #fff;
}
.sub #section1 .container .content .left .gap .sub-menu::-webkit-scrollbar-thumb {
  background: #5f0080;
}
.sub #section1 .container .content .left .gap .sub-menu > ul {
  width: 100%;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li > a {
  display: flex;
  width: 100%;
  height: 52px;
  justify-content: space-between;
  align-items: center;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li > a strong {
  font-size: 14px;
  color: #000;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li > a i img {
  width: 18px;
  height: 18px;
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li > a.on i img {
  transform: rotate(0deg);
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub ul {
  width: 100%;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub ul li {
  width: 100%;
  padding: 9px 0;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub ul li a {
  width: auto;
  display: inline-flex;
  height: 18px;
  align-items: center;
  padding: 0 0 0 20px;
  background: url(../../../../public/images/sub/sub1/icon_check_off.svg) no-repeat 0 50%;
  transition: all 0.3s;
  color: #000;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub ul li a:hover {
  color: #5f0080;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub ul li a.on {
  background-image: url(../../../../public/images/sub/sub1/icon_check_on.svg);
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub ul li a span {
  font-size: 14px;
  margin: 0 0 0 6px;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub ul li a em {
  color: #ccc;
  font-size: 13px;
  margin: 0 0 0 8px;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub button {
  width: 100%;
  border: 0;
  background: #fff;
  height: 52px;
  font-size: 12px;
  cursor: pointer;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub button span {
  color: #999;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub button i {
  margin: 0 0 0 0;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub button i img {
  width: 18px;
  height: 18px;
  transform: rotate(90deg) translateY(2px);
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub.sub2 .tab {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub.sub2 .tab button {
  width: auto;
  height: 52px;
  font-weight: 600;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub.sub2 .tab button.tab-btn1.on {
  color: #5f0080;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub.sub2 .tab button.tab-btn2 {
  margin: 0 0 0 20px;
}
.sub #section1 .container .content .left .gap .sub-menu > ul > li .sub.sub2 .tab button.tab-btn2.on {
  color: #5f0080;
}
.sub #section1 .container .content .right {
  width: 801px;
  background-color: #fff;
}
.sub #section1 .container .content .right .header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 18px 0 0;
}
.sub #section1 .container .content .right .header h3 {
  font-size: 14px;
  color: #000;
}
.sub #section1 .container .content .right .header a {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 15px;
}
.sub #section1 .container .content .right .header a img {
  width: 12px;
  height: 12px;
}
.sub #section1 .container .content .right .header a em {
  margin: 0 5px 0 0;
}
.sub #section1 .container .content .right .header a.on {
  color: #000;
}
.sub #section1 .container .content .right .product-list {
  width: 100%;
}
.sub #section1 .container .content .right .product-list .filter-box {
  width: auto;
  padding: 25px;
  border: 1px solid #ddd;
  margin: 0 18px 30px 0;
  line-height: 230%;
}
.sub #section1 .container .content .right .product-list .filter-box span {
  margin: 0 15px 0 0;
  display: inline-flex;
}
.sub #section1 .container .content .right .product-list .filter-box span em {
  font-size: 14px;
  color: #8d4cc4;
}
.sub #section1 .container .content .right .product-list .filter-box span a {
  margin: 0 0 0 2px;
}
.sub #section1 .container .content .right .product-list .filter-box span a img {
  width: auto;
  transform: translateY(-2px);
}
.sub #section1 .container .content .right .product-list ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.sub #section1 .container .content .right .product-list ul .list {
  width: 267px;
  padding: 0 0 60px 0;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap {
  width: auto;
  margin: 0 18px 0 0;
  cursor: pointer;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .img-box {
  width: 100%;
  overflow: hidden;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .img-box img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .img-box img:hover {
  transform: scale(1.07);
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box {
  width: 100%;
  line-height: 180%;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box p {
  padding: 10px 0;
  width: 100%;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box p a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  width: 100%;
  height: 36px;
  font-size: 14px;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box p a img {
  margin: 0 3px 0 0;
  transform: translateY(1px);
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box h3 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box h4 {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box h5 {
  font-size: 16px;
  font-weight: 600;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box h5 em {
  color: #fa622f;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box h5 strong {
  color: #333;
  margin: 0 0 0 10px;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box h5 strong.on {
  margin: 0;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box h6 {
  font-size: 13px;
}
.sub #section1 .container .content .right .product-list ul .list .col-gap .txt-box h6 img {
  width: 15px;
  height: 15px;
  margin: 0 4px 0 0;
  transform: translateY(-1px);
}
.sub #section1 .container .content.sub4-content {
  width: 100%;
}
.sub #section1 .container .content.sub4-content ul {
  width: 100%;
}
.sub #section1 .container .content.sub4-content ul li {
  width: 100%;
  padding: 0 0 10px 0;
}
.sub #section1 .container .content.sub4-content ul li a {
  display: block;
  width: 100%;
}
.sub #section1 .container .content.sub4-content ul li a img {
  width: 100%;
}