#section1 {
  width: 100%;
}
#section1 .slide-container {
  width: 100%;
  position: relative;
  cursor: pointer;
}
#section1 .slide-container .slide-view {
  z-index: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#section1 .slide-container .slide-view .slide-wrap {
  width: 2400%;
  margin-left: -100%;
  display: flex;
  position: relative;
}
#section1 .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
}
#section1 .slide-container .slide-view .slide-wrap .slide img {
  width: 100%;
}
#section1 .slide-container .next-arrow-btn {
  color: #fff;
  z-index: 2;
  position: absolute;
  right: 16%;
  top: 50%;
  width: 52px;
  height: 52px;
  margin-top: -26px;
  background: url(../../../../public/images/intro/icon_circle_bg_gray_arrow.svg) no-repeat 50% 50%;
  background-size: 52px 52px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
#section1 .slide-container .next-arrow-btn.on {
  opacity: 1;
}
#section1 .slide-container .prev-arrow-btn {
  color: #fff;
  z-index: 2;
  position: absolute;
  left: 16%;
  top: 50%;
  width: 52px;
  height: 52px;
  background: url(../../../../public/images/intro/icon_circle_bg_gray_arrow.svg) no-repeat 50% 50%;
  margin-top: -26px;
  transform: rotate(180deg);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
#section1 .slide-container .prev-arrow-btn.on {
  opacity: 1;
}
#section1 .slide-container .page-num-box {
  z-index: 2;
  position: absolute;
  right: 27%;
  bottom: 20px;
  padding: 0px 10px 3px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8.5px;
}
#section1 .slide-container .page-num-box em {
  font-size: 14px;
  color: #fff;
}
#section1 .slide-container .page-num-box i {
  margin: 0 2px;
  color: #fff;
}