#section5 .container .content .slide-container .slide-view .slide-wrap {
  width: 1068px;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide {
  width: 356px;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide.slide1 {
  width: 356px;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide.slide2 {
  width: 712px;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box p {
  padding: 0 0 5px 0;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide .col-gap .txt-box p.description {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide1 .col-gap .txt-box h2 {
  font-size: 28px;
  color: #333;
  font-weight: 600;
  line-height: 120%;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide1 .col-gap .txt-box h3 {
  font-size: 16px;
  color: #999;
  font-weight: 400;
  padding: 20px 0 35px 0;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide1 .col-gap .txt-box h4 {
  text-decoration: none;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide1 .col-gap .txt-box h4 span.icon-timer img {
  width: 28px;
  height: 28px;
  transform: translateY(3px);
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide1 .col-gap .txt-box h4 span.count-timer {
  vertical-align: middle;
  margin: 0 0 0 6px;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide1 .col-gap .txt-box h4 span.count-timer strong {
  font-size: 32px;
  color: #333;
  font-weight: 800;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide1 .col-gap .txt-box h4 span.count-timer i {
  font-size: 25px;
  color: #999;
  font-weight: 400;
  margin: 0 2px;
}
#section5 .container .content .slide-container .slide-view .slide-wrap .slide1 .col-gap .txt-box h5 {
  padding: 40px 0 0 0;
  font-size: 14px;
  color: #bbb;
  font-weight: 300;
}